body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(5, 45, 32);
    color: white;
}

h1{
    font-size: 2rem;
    margin-top: 20px;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}